body {
    background-color: red;
    font-family: sans-serif;
    text-decoration-color: darkgray;
}

h1 {
    background-color: blue;
    font-size: 200%;
    text-align: center;
    border-radius: 50px;
}

h2 {
    text-align: center;
}

p {
    background-color: yellow;
    border-radius: 25px;
    text-align: center;
    font-size: 125%;
}
li {
    font-size: 120%;
}

.cheep {
    display: inline-block;
}

.goomba {
    display: inline-block;
}

.bob {
    display: inline-block;
}

img {
    border-radius: 25px;
    max-width: 60%;
    height: auto;
}
